In [1]:
import pandas as pd
best_actors_df = pd.DataFrame({
    "Best Actors": ["Nic Cage", "Nic Cage", "Harrison Ford"]
})
best_actors_df

     Best Actors
0       Nic Cage
1       Nic Cage
2  Harrison Ford

In [2]:
# duplicate function
best_actors_df.duplicated().sum()

1

In [3]:
# drop duplicate functions
best_actors_df=best_actors_df.drop_duplicates()
best_actors_df

     Best Actors
0       Nic Cage
2  Harrison Ford

In [4]:
# clearing messy data
import pandas as pd
prices = pd.DataFrame({
    "price_usd": ["$0.53", "$0.22", "0.34"]
})


prices

  price_usd
0     $0.53
1     $0.22
2      0.34

In [5]:
# removing the dollar sign and also usin loc function
prices.loc[:, "price_usd"] = prices.loc[:, "price_usd"].str.replace("$", "")
prices

C:\Users\Owner\AppData\Local\Temp/ipykernel_11712/2235144935.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  prices.loc[:, "price_usd"] = prices.loc[:, "price_usd"].str.replace("$", "")

  price_usd
0      0.53
1      0.22
2      0.34

In [41]:
prices.loc[:, "price_usd"] = prices.loc[:, "price_usd"].str.replace("$", "")
prices
prices.dtypes

C:\Users\Owner\AppData\Local\Temp/ipykernel_4012/2773098020.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  prices.loc[:, "price_usd"] = prices.loc[:, "price_usd"].str.replace("$", "")

price_usd    object
dtype: object